<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gamergril.exe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<header>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-danger" href="home.ejs">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="bbloq.ejs">Bren's Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-danger" href="pbloq.ejs">Paityn's Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="add_blog.ejs">+</a>
        </li>
      </ul>
</header>

<body class="mx-auto bg-dark text-white">
        <div class="container text-center">
        <h1 class="text-danger mx-auto">Blog Time</h1>
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item text-danger bg-dark mt-3">e n d </li>
                <li class="list-group-item text-danger bg-dark mt-3">m e</li>
                <li class="list-group-item text-danger bg-dark mt-3">Morbi leo risus</li>
                <li class="list-group-item text-danger bg-dark mt-3">Porta ac consectetur ac</li>
                <li class="list-group-item text-danger bg-dark mt-3">Vestibulum at eros</li>
            </ul>
    </body>
</html>